.logOutContainer{
    position: fixed;
    top: 10px;
    right: 20px;
}
.createPostBtn{
    position: fixed;
    top : 10px;
    left : 20px;
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 900px;
    margin: auto;
    margin-top: 40px;
    border: 1px black solid;
}
.post{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}